In [16]:
#importing libraries
import pandas as pd

In [84]:
#dataset
df= pd.read_csv("../data/penguins_lter.csv")

In [85]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [86]:
df.columns

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [87]:
df = df.drop(columns=['studyName', 'Sample Number', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'])

In [88]:
df

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...,...
339,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [89]:
df.shape

(344, 8)

In [90]:
df.columns

Index(['Species', 'Region', 'Island', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex'],
      dtype='object')

In [91]:
df = df.drop_duplicates(subset=['Species', 'Region', 'Island', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex'])

In [92]:
df.shape

(344, 8)

In [93]:
df.isna().sum()

Species                 0
Region                  0
Island                  0
Culmen Length (mm)      2
Culmen Depth (mm)       2
Flipper Length (mm)     2
Body Mass (g)           2
Sex                    10
dtype: int64

In [94]:
df["Species"][0].split()

['Adelie', 'Penguin', '(Pygoscelis', 'adeliae)']

In [95]:
def name_format(string):
    string = string.split(sep = " ")
    string = string[0] + " " + string[1] 
    return string

In [96]:
df["Species_format"] = df["Species"].apply(name_format)
df["Species"] = df["Species_format"]

In [97]:
df = df.drop(columns='Species_format')

In [98]:
df["Region"][0]

'Anvers'

In [99]:
df["Culmen Length (mm)"][0]

39.1

In [100]:
type(df["Culmen Length (mm)"][0])

numpy.float64

In [101]:
df["Sex"][0]

'MALE'

In [102]:
df

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin,Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin,Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin,Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin,Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin,Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...,...
339,Gentoo penguin,Anvers,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo penguin,Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo penguin,Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo penguin,Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo penguin,Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [103]:
df = df.dropna()

In [105]:
df

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin,Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin,Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin,Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie Penguin,Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie Penguin,Anvers,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...
338,Gentoo penguin,Anvers,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo penguin,Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo penguin,Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo penguin,Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo penguin,Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [104]:
df.isna().sum()

Species                0
Region                 0
Island                 0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Body Mass (g)          0
Sex                    0
dtype: int64

In [106]:
df.dtypes

Species                 object
Region                  object
Island                  object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Body Mass (g)          float64
Sex                     object
dtype: object

In [110]:
df.describe()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
count,334.000000,334.000000,334.000000,334.000000
mean,43.994311,17.160479,201.014970,4209.056886
std,5.460521,1.967909,14.022175,804.836129
min,32.100000,13.100000,172.000000,2700.000000
25%,39.500000,15.600000,190.000000,3550.000000
50%,44.500000,17.300000,197.000000,4050.000000
75%,48.575000,18.700000,213.000000,4793.750000
max,59.600000,21.500000,231.000000,6300.000000